/* html・bodyのmargin・paddingのリセットなので削除しないようにしてください */

html {
    margin: 0;
    padding: 0;
    font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
}

body {
    margin: 0;
    padding: 0;
}
/* ここまでがhtml・bodyのmargin・paddingのリッセットです */

/* ここからがヘッダー */
header {
    background-color: white;
}

.main-header {
    display: flex;
    height: 60px;
    display: flex;
    width: 100%;
    background-color: #696969;
    position: fixed;
    z-index: 10;

}

.logo {
    font-size: 20px;
    width: 1/5;
    margin: auto;
}

/* ここまでがヘッダー */

/* ここからがメインとなるところ */ /* 背景色はrgb(232, 255, 101)がデフォルトです */

.main-container {
    margin: 0;
    padding: 0;
    /*font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;*/
}

.center-container {
    height: 3000px;
    background-color:rgba(216, 216, 216, 0.5);
    padding: 50px;
}

.top-title {
    margin-top: 0;
    padding: 30px;
    text-align: center;
    font-size: 30px;
    opacity: .8;
    width: 500px;
    margin: 0 auto;
    padding: 0.5em 1em;
    background: #f4f4f4;
    border-left: solid 6px #686868;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
    font-weight: 100;
    /*font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;*/
}

.top-h1 {
    font-size: 50px;
    text-align: center;
    opacity: .8;
    /*font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;*/
    margin: 100px 0;
}

.partial-span {
    color: #0077ff;
}

.partial-span2 {
    color: #ff544e;
}

.guide-title {
    padding: 0.5em 1em;
    margin: 0 auto;
    text-align: center;
    background: rgb(255, 255, 255);
    box-shadow: 10px 10px rgba(0, 0, 0, 0.7);
    border-radius: 9px;
    width: 400px;
    font-weight: 100;
}

.btn {
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
  padding: 10px 50px;
  text-align: center;
  color: #b1afaf;
  width:200px;
  height: 50px;
  font-size: 20px;
}

.btn:hover {
    color: #696969;
}

.question {
    margin: 0 auto;
    margin-top: 100px;
    width: 60%;
}

.guide-title {
    font-size: 40px;
    opacity: .8;
    /*font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;*/
}

.partialy-span {
    color: #07f;
}

.answer {
    font-size: 20px;
    padding: 1.5em;
    margin: 2em 0;
    border: double 5px #696969;
    font-weight: lighter;
    /*font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;*/
    opacity: .8;
}

.help {
    width: 60%;
    margin: 0 auto;
    margin-top: 100px;
}

.help-title{
    padding: 1em;
    font-size: 40px;
    opacity: .8;
    background: rgb(255, 255, 255);
    box-shadow: 10px 10px rgba(0, 0, 0, 0.7);
    border-radius: 9px;
}

.learn-navigation {
    margin: 0 auto;
    margin-top: 100px;
    border-top: 1px solid black;
    width: 90%;
}

.learn-title{
    margin: 0 auto;
    padding: 0.5em;
    font-size: 40px;
    opacity: .8;
    text-align: center;
    margin-top: 100px;
    position: relative;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    width: 40%;
}
.learn-title:before, .learn-title:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
}
.learn-title:before {
    left: 10px;
}
.learn-title:after {
    right: 10px;
}

.learn-title {
    font-weight: 100;
}

.learn-introduction {
    margin: 0 auto;
    margin-top: 75px;
    padding: 2em;
    width: 80%;
    border: double 5px #696969;
    font-family: "Andale Mono", "Noto Sans Japanese", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Arial, Meiryo, sans-serif;
}

.iframe-containers {
    background-color:rgba(216, 216, 216, 0.5);
    padding: 40px;
}

.iframe-container {
    width: 90%;
    margin: 0 auto;
}

.major-i {
    border-top: 1px solid black;
}

.new-infomation-form {
    text-decoration: none;
    color: rgba(100, 100, 100, 1);
}

.iframe {
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    overflow: scroll;
    height: 175px;
    background-color: rgb(255, 255, 255);
}

ul {
    list-style: none;
    margin: 0;
}

/* ここまでがメインとなるところ */

/* ここからがフッター */
footer {
    background-color:rgba(216, 216, 216, 0.5);
}

.infomation-containers{
    padding: 40px;
}

.infomation-container {
    width: 90%;
    margin: 0 auto;
    border-top: 1px solid black;
}

.infomation-explanatory {
    margin: 0 auto;
    padding: 10px;
    text-align: left;
    /*font-family: "Andale Mono", "Noto Sans Japanese", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Arial, Meiryo, sans-serif;*/
}

.infomation-span {
    font-size: 15px;
}

.major-i-e {
    margin-top: 50px;
}

.footer-form {
    color: rgba(100, 100, 100, 0.8);
    text-decoration: none;
}

.footer-form:visited {
    color: rgba(100, 100, 100, 0.5);
}

.footer-form:hover {
    color: black;
}

/* ここまでがフッター */
